<h1> Search result </h1>

<% if @search.search_courses.empty? %>
    <p>No courses found </p>

<% else %>
    <% @search.search_courses.each do |c|%>

        <div class="div">
            <h1><%= c.name%> </h1>
            <p>  Category: <%= c.category%> </p>
        </div>
    <% end %>
<% end %>